<form>
  <div class="row">
    <div class="large-12 columns">
      <%= tag(:input, { type: "text", value: post_title(alert) } ) %>
      <%= content_tag(:textarea, post_content(alert), { rows: "20" }) %>
    </div>
  </div>
</form>