<% provide(:title, "Whois") %>

<h1>Whois</h1>
<div class="row">
  <div class="large-6 large-offset-3">
    <%= form_tag(controller: "whois", action: "create") do %>
      <div class="row collapse">
        <div class="small-10 columns">
          <%= text_field_tag :name %>
        </div>
        <div class="small-2 columns">
          <%= submit_tag "Go", class: "button postfix" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @record %>
  <row>
    <div class="large-10 large-offset-1 whois-box panel">
      <% @record.to_s.each_line do |line| %>
        <%= line %> <br>
      <% end %>
    </div>
  </row>
<% else %>
  <row>
    <div class="large-10 large-offset-1 whois-box panel callout">
      <p>I can look up Whois records for domains, TLDs and IP addresses</p>
    </div>
  </row>
<% end %>