<label>Domain Name
  <%= f.text_field :domain %>
</label>
<label>Username
  <%= f.text_field :username %>
</label>
<label>Category
  <%= f.text_field :category %>
</label>
<label>Notes
  <%= f.text_field :notes %>
</label>