<% provide(:title, @vip_domain.domain) %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <fieldset>
      <legend>Update VIP Domain</legend>
      <%= form_for @vip_domain, url: { action: 'update' } do |f| %>
        <%= render partial: "vip_domain_fields", locals: { f: f } %>
        <br><%= f.submit "Update", class: "button postfix" %>
      <% end %>
    </fieldset>
  </div>
</div>