<% provide(:title, "VIP Domains") %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <fieldset>
      <legend>Add VIP Domain</legend>
      <%= form_for @vip_domain, url: { action: 'create' } do |f| %>
        <%= render partial: "vip_domain_fields", locals: { f: f } %>
        <br><%= f.submit "Add", class: "button postfix" %>
      <% end %>
    </fieldset>
  </div>
</div>