.hosting-abuse-list                       {
  li                                      { border-top: 1px solid $medium-gray; padding: 1rem; transition: background-color 0.25s ease-out; font-size: 0.875rem;
    .label-text                           { text-align: right; font-style: italic; }
    .hash                                 {
      .key                                { display: inline-block; width: 35%; text-align: right; font-style: italic; color: #666; vertical-align: top; }
      .value                              { display: inline-block; width: 65%; word-wrap: break-word; padding-left: 0.5rem; padding-right: 0.5rem; }
    }
    
    .hash.editable                        {
      .key                                { width: 8.75%; }
      .value                              { width: 91.25%; white-space: pre-wrap; word-break: break-all;
        textarea                          { font-size: 0.875rem; height: 10rem; margin-bottom: 0; }
      }
    }
    
    .toggle                               { color: $primary-color; cursor: pointer; }
    .toggle::before                       { content: 'Expand '; }
    .toggle.expanded::before              { content: 'Collapse '; }
    
    fieldset                              { border-top: 1px dashed $medium-gray; margin-top: 0.75rem; padding-top: 0.75rem;
      legend                              { color: $dark-gray; margin-left: 5rem; font-style: italic; margin-bottom: 0; }
    }
    
    .dropdown-pane                        { font-size: 0.875rem; white-space: pre-wrap; max-height: 300px; overflow: scroll; }
  }
  li:last-child                           { border-bottom: 1px solid $medium-gray; }
  li:hover                                { background-color: #def0fc; }
}