.hosting-abuse-list                       {
  li                                      { border-top: 1px solid $medium-gray; padding: 1rem; transition: background-color 0.25s ease-out; font-size: 0.875rem;
    .label-text                           { text-align: right; font-style: italic; }
    .hash                                 {
      .key                                { display: inline-block; width: 35%; text-align: right; font-style: italic; color: #666; vertical-align: top;
        span                              { cursor: text; }
      }
      .value                              { display: inline-block; width: 65%; word-wrap: break-word; padding-left: 0.5rem; padding-right: 0.5rem;
        span                              { cursor: text; }
      }

      .key.w-45                           { width: 45%; }
      .value.w-55                         { width: 55%; }

      .key.w-60                           { width: 60%; }
      .value.w-40                         { width: 40%; }
    }

    .hash.editable                        {
      .key                                { width: 8.75%; }
      .value                              { width: 91.25%; white-space: pre-wrap; word-break: break-all;
        textarea                          { font-size: 0.875rem; height: 10rem; margin-bottom: 0; }
      }
    }

    .toggle                               { color: $primary-color; cursor: pointer; }
    .toggle::before                       { content: 'Expand '; }
    .toggle.expanded::before              { content: 'Collapse '; }

    fieldset                              { border-top: 1px dashed $medium-gray; margin-top: 0.75rem; padding-top: 0.75rem;
      legend                              { color: $dark-gray; margin-left: 5rem; font-style: italic; margin-bottom: 0; }
    }
  }

  .header                                 { cursor: pointer; }

  li.expanded                             { padding-top: 0;
    .header                               { background-color: #eee; padding-top: 1rem; padding-bottom: 1rem; margin-left: -1rem; margin-right: -1rem; }
  }

  li.expanded:hover                       {
    .header                               { background-color: #def0fc; }
  }

  li:last-child                           { border-bottom: 1px solid $medium-gray; }
  li:hover                                { background-color: #def0fc; }

  .badge                                  { vertical-align: top; }
}

#modal-region                             {
  .attachment-links                       { font-size: 0.875rem; }
}
