<%= provide(:title, @user.name) %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <fieldset>
      <legend>Edit user</legend>
      <%= form_for(@user, html: { method: :patch }) do |f| %>
      	<%= render :partial => 'user_fields', :locals => { :f => f } %>
        <%= f.submit "Update", class: "button postfix" %>
      <% end %>
    </fieldset>
  </div>
</div>