<%= render partial: "csv_form", locals: { occurrences: occurrences } %>

<% if occurrences %>
  <p class="lead">Occurrences Count</p>
  <table width="100%">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% occurrences.each do |domain, count| %>
        <tr>
          <td><%= domain %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>