<% provide(:title, "Extract Domains") %>

<% headers = @result.flat_map(&:keys).uniq %>

<h1>Extract Domains</h1>
<div class="row">
  <div clss="large-12 columns">
    <table width="100%">
      <thead>
        <tr>
          <% headers.each do |header| %>
            <th><%= header.to_s %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @result.each do |line| %>
          <tr>
            <% headers.each do |header| %>
              <td><%= line[header] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>  
  </div>
</div>