<% provide(:title, "DBL/SURBL Check") %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_tag(legal_dbl_subles_path) do %>
      <fieldset>
        <legend>Input</legend>
        <%= label_tag :query, 'Domains' %>
        <%= text_area_tag(:query, domain_list(@domains), size: "20x20") %>
      </fieldset>
      <%= submit_tag "Submit", class: "button tiny" %>
    <% end %>
  </div>
</div>
