.entities-list             {
  li                       { border-top: 1px solid $medium-gray; padding: 1rem; transition: background-color 0.25s ease-out; font-size: 0.875rem;
    .hash                  {
      .key                 { display: inline-block; width: 35%; text-align: right; font-style: italic; color: #666; vertical-align: top; }
      .value               { display: inline-block; width: 65%; word-wrap: break-word; padding-left: 0.5rem; padding-right: 0.5rem; }

      .key.w-20            { width: 20%; }
      .value.w-80          { width: 80%; }

      .key.w-30            { width: 30%; }
      .value.w-70          { width: 70%; }

      .key.w-40            { width: 40%; }
      .value.w-60          { width: 60%; }

      .key.w-45            { width: 45%; }
      .value.w-55          { width: 55%; }
    }

    .checkbox              {
      input[type=checkbox] { margin: 0 1rem; }
    }
  }

  li:last-child            { border-bottom: 1px solid $medium-gray; }
  li:hover                 { background-color: #def0fc; }
}
