form                                                  {
  input[type], select, textarea                       { font-size: 0.875rem; }
  fieldset                                            { border-top: 1px solid rgba($black, 0.25); margin-bottom: 1rem;
    legend                                            { margin-left: 2rem; font-weight: normal; color: #7d7d7d; font-style: italic; }
  }
  label                                               { font-size: 1rem; color: #333333; line-height: 1.3rem; }
  .help-text                                          { font-size: 1rem; color: #7d7d7d; margin-bottom: 0; white-space: pre-wrap; }
  .radiobuttons, .checkboxes                          { padding-top: 0.4rem;
    label                                             { font-size: 0.875rem; }
  }
  .collection                                         { margin-bottom: 1rem; padding-top: 0;
    input[type='checkbox'], input[type='radio']       { margin: 0; }
  }
  footer                                              { border-top: 1px solid rgba($black, 0.25); padding-top: 1rem; }
  span.form-error                                     { margin-top: -1rem; }
  .collection > .large-12 > span.form-error           { margin-top: 0; margin-bottom: 0; }
  .button-group                                       { margin-bottom: 0; }
  
  .fields.row                                         {
    label                                             { font-size: 0.875rem; }
  }
  
  textarea                                            { resize: vertical; }
  
  .stats                                              { margin-top: -1rem; font-size: 0.875rem; }
}