/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require foundation_and_overrides
 *= require foundation-datepicker
 *= require toastr
 *= require vis.min
 *= require_self
 *= require abuse_reports
 *= require domain_box
 *= require la_tools
 *= require manager_tools
 *= require nc_users
 *= require roles
 *= require whois
 */

@import 'foundation-icons';

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.content-wrapper {
	min-height: 100%;
	position: relative;
}

.content {
  padding-bottom: 3em;
}

.footer {
  font-size: 11px;
  text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
  width: 100%;
  background-color: #333333;
  padding: 0.75em;
  color: #ffffff;
}

h1 {
  text-align: center;
  color: white;
}

.whois-box {
  font-size: 0.95em;
  word-wrap: break-word;
  white-space: pre;
}

.red-text {
  color: red;
}

textarea {
	resize: none;
}

input[type='checkbox'] {
	margin-bottom: 0px;
}

header {
  background-color: #5C8382;
  background-image: image-url("header.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 7.5em;
  -webkit-box-shadow: inset 0px -7px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    inset 0px -7px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         inset 0px -7px 10px 0px rgba(50, 50, 50, 0.5);
}

.logo {
  margin-left: 0.5%;
  margin-top: 0.5%;
  float: left;
  height: 85px;
  width: 85px;
  margin-right: -100px;
}

i.action {
  font-size: 2rem;
  color: #5C8382;
  margin-left: 5px;
  margin-right: 5px;
}

i.inline {
  margin-right: 3px;
  color: #5C8382;
}

table {
  width: 100%;
}

table tbody tr.red, table tbody tr td.red {
 background: #f4d0d7;
}

table tbody tr.blue, table tbody tr td.blue {
  background: #d0ecf8;
}

table tbody tr.green, table tbody tr td.green {
  background: #d0f8dc;
}

table tbody tr.yellow, table tbody tr td.yellow {
  background: #f6f8d0;
}

table tbody tr.grey, table tbody tr td.grey {
  background: #dbdbdb;
}

table tbody tr.orange, table tbody tr td.orange {
  background: #ffdb99;
}

th {
  background: #e1eaea;
}

span.vip {
  color: blue;
}

h6 {
  font-style: italic
}

table.borders td, th {
  border: 1px solid #DDDDDD;
}

span.pageInfo {
  display: inline-block;
  font-size: .875em;
  color: #999;
}

form ul.large-block-grid-4 li {
  padding-bottom: 0;
}

.pagination .arrow.unavailable a {
  cursor: not-allowed;
}

input[type='radio'] {
  margin-bottom: 0;
}

.devise-links {
  font-size: 0.85em;
}

.sub-nav {
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
}