/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require foundation_and_overrides

 */

@import 'foundation-icons';

h1 {
  text-align: center;
  color: white;
}

.whois-box {
  font-size: 0.95em;
  word-wrap: break-word
}

.red-text {
  color: red;
}

textarea {
	resize: none;
}

input[type='checkbox'] {
	margin-bottom: 0px;
}

header {
  background-color: #5C8382;
  background-image: image-url("header.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 7.5em;
  -webkit-box-shadow: inset 0px -7px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    inset 0px -7px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         inset 0px -7px 10px 0px rgba(50, 50, 50, 0.5);
}

.logo {
  margin-left: 0.5%;
  margin-top: 0.5%;
  float: left;
  height: 100px;
  width: 100px;
  margin-right: -100px;
}

i.action {
  font-size: 2rem;
  color: #5C8382;
  margin-left: 5px;
  margin-right: 5px;
}

i.inline {
  margin-right: 3px;
  color: #5C8382;
}

tr#red {
 background: #f4d0d7;
}

tr#blue {
  background: #d0ecf8;
}

tr#green {
  background: #d0f8dc;
}

th {
  background: #e1eaea;
}

span.vip {
  color: blue;
}

h6 {
  font-style: italic
}