// Place all the styles related to the nc_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-relations {
  height: 500px;
  padding: 0;
}