#rbl-legend {
  .red {
    background-color: #f4d0d7;
  }
  
  .yellow {
    background-color: #f6f8d0;
  }
  
  .blue {
    background-color: #d0ecf8;
  }
  
  .status {
    height: 3em;
    text-align: center;
  }
}