// Place all the styles related to the Whois controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.bulk-whois-props li {
  padding-bottom: 0;
}

.whois-count {
  min-height: 156px;
  font-size: 12px;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed !important;
}