<div id='wrap'>
  <div id='header-region'></div>
  <div id='main-region'></div>
  <div id='push'></div>
</div>
<div id='footer-region'></div>
<div id='modal-region'></div>

<%= javascript_tag do %>
  $(function() {
    Artoo.start({
      environment:                  "<%= Rails.env %>",
      currentUser:                  gon.current_user,
      hostingAbuseServices:         gon.hosting_abuse_services,
      hostingAbuseTypes:            gon.hosting_abuse_types,
      hostingAbuseSharedPackages:   gon.hosting_abuse_shared_packages,
      hostingAbuseResellerPackages: gon.hosting_abuse_reseller_packages,
      hostingAbuseManagementTypes:  gon.hosting_abuse_management_types
    });
    $(document).foundation();
  });
<% end %>