<% provide(:title, "Spammer Blacklist") %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <fieldset>
      <legend>Add Spammer</legend>
      <%= form_for @spammer, url: { action: 'create' } do |f| %>
        <label>Username
          <%= f.text_field :username %>
        </label>
        <label>Comments
          <%= f.text_field :comment %>
        </label>
        <br><%= f.submit "Add", class: "button postfix" %>
      <% end %>
    </fieldset>
  </div>
</div>