<label>Name
  <%= f.text_field :name %>
</label>
<label>Description
  <%= f.text_area :description %>
</label>
<label>Title
  <%= f.text_field :title %>
</label>
<label>Body
  <%= f.text_area :body, size: "20x10" %>
</label>