<% provide(:title, "Canned Replies") %>

<div class="row">
  <div class="large-8 large-offset-2 columns">
    <fieldset>
      <legend>Add Canned Reply</legend>
      <%= form_for @canned_reply, url: { action: 'create' } do |f| %>
        <%= render partial: "canned_reply_fields", locals: { f: f } %><br>
        <%= f.submit "Add", class: "button postfix" %>
      <% end %>
    </fieldset>
  </div>
</div>