nav.top-bar data-topbar='' role="navigation"
  ul.title-area
    li.name
      h1 = link_to "R2-D2", root_path
      
  section.top-bar-section
    ul.left
    
      li.divider
      
      li.has-dropdown.not-click
        a href='#' Domains & General
        ul.dropdown
          li = link_to "Whois", whois_path
          li = link_to "Maintenance Alerts", alerts_path
          li = link_to "Extract Domains", parse_domains_path
          li = link_to "Compare Lists", compare_path
          li = link_to "Bulk Dig", bulk_dig_path
          li = link_to "Email Verifier", verify_email_path
          li = link_to "Watched Domains", watched_domains_path if can? :read, WatchedDomain
      li.divider
      
      - if can?(:read, AbuseReport) || can?(:read, NcUser) || can?(:read, NcService) || can?(:read, Rbl)
        li.has-dropdown.not-click
          - if can? :access, :la_tool
            = link_to "Legal & Abuse", spam_path
          - else
            a href='#' Legal & Abuse
          ul.dropdown
          
            - if can? :access, :la_tool
              li.has-dropdown.not-click
                a href='#' Tools
                ul.dropdown
                  li = link_to "DBL/SURBL Check", dbl_surbl_path if can? :access, :la_tool
                  li = link_to "Bulk CURL", bulk_curl_path if can? :access, :la_tool
                  li = link_to "Resource Abuse", resource_abuse_path if can? :access, :la_tool
                  li = link_to "Process Spam", spam_path if can? :access, :la_tool
                  li = link_to "Spam Reports", spam_reports_path if can? :access, :la_tool
                  li = link_to "HTML PDFier", html_pdfier_path if can? :access, :la_tool
                  
            - if can?(:read, AbuseReport) || can?(:read, NcUser) || can?(:read, NcService) || can?(:read, Rbl)
              li.has-dropdown.not-click
                a href='#' Lists
                ul.dropdown
                  li = link_to "Abuse Reports", abuse_reports_path if can? :read, AbuseReport
                  li = link_to "Namecheap Users", nc_users_path if can? :read, NcUser
                  li = link_to "Namecheap Domains", domains_path if can? :read, NcService
                  li = link_to "Private Emails", private_emails_path if can? :read, NcService
                  li = link_to "Multi RBL", rbls_path if can? :read, Rbl
        li.divider
        
      - if can? :access, :manager_tool
        li.has-dropdown.not-click
          a href='#' Management Tools
          ul.dropdown
            li = link_to "Monthly Reports", monthly_reports_path if can? :access, :manager_tool
            li = link_to "Welcome Emails", welcome_emails_path
        li.divider
      
      - if can?(:read, Role) || can?(:read, User)
        li.has-dropdown.not-click
          a href='#' User Management
          ul.dropdown
            li = link_to "Roles and Permissions", roles_path if can? :read, Role
            li = link_to "Users", users_path if can? :read, User
        li.divider
      
  - if user_signed_in?
    section.top-bar-section
      ul.right
        li.divider
        li.has-dropdown
          a = current_user.name
          ul.dropdown
            li = link_to "Change password", change_password_path
            li = link_to "Sign out", destroy_user_session_path, method: :delete
  - else
    section.top-bar-section
      ul.right
        li.has-form = link_to "Sign in", new_user_session_path, class: "button"
header
  = image_tag "logo.png", class: "logo"
  br
  h1 = yield(:title)